<div class="container_dash">
    <mat-card >
        <mat-card-content>
            <h1 class="titulo">Votacion</h1>
            <div class="lista" >
                <div class="recuadro">
                    <h2>Numero de Candidatos Registrados</h2>
                    <p>Total:  {{numeroCandidatos}}</p>
                </div>

                <div class="recuadro">
                    <h2>Numero de Estudiantes Registrados</h2>
                    <p>Total : {{numeroEstudiantes}}</p>
                </div>

            </div>

            <div class="botones">
                <button mat-raised-button color="primary" >Iniciar Votacion</button>
                <button mat-raised-button >Finalizar</button>
            </div>
        </mat-card-content>
    </mat-card>

</div>
  
