.formulario{
    display: flex;
    flex-direction: column;

}

.altura{
    height: 50px;
    
    width: 30%;
}

.bottom{
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto  auto;
    justify-content: center;
    gap: 10px;
}

.buscar{
    display: grid;
    grid-template-columns:  auto 80% ;
    text-align: center;
    gap: 5px;
    margin-bottom: 5%;
}

.c1{
    grid-column: 1/3;
    text-align: center;
}



.c3{
    
    margin-top: 3%;
}

.campos{
    display: grid;
    grid-template-columns: 15% auto;
    gap: 25px;
}

.input{
    border: none;
    border-radius: 3%;
    cursor: auto;
    color: rgba(0, 0, 0, 0.6);
    background-color: whitesmoke;
    font-family: (Roboto, sans-serif);
    font-size: 16px;
    
    
    outline: none;
}




