<div *ngIf="loading" class="bodySpinner"><mat-spinner  diameter="50" class="spinner"></mat-spinner></div>
    <mat-tab-group *ngIf="!loading">
        
        <mat-tab label="Login">
            <div class="body">
            <div class="login">
                
        
                <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
                    <img src="../../../assets/img/logo.jpg" width="60%" >
        
                    <div class="formulario">
            
                        <mat-form-field class="ancho" style="margin-top: 20px;">
                            <mat-label>Usuario</mat-label>
                            <input matInput autocomplete="off" formControlName="usuario">
                        </mat-form-field>
                
                        <mat-form-field class="ancho">
                            <mat-label >Contraseña</mat-label>
                            <input type="password" matInput autocomplete="off" formControlName="contraseña">
                        </mat-form-field>
            
                        <button type="submit" class="ancho boton" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
                    </div>
                </form>
                
        
            </div>
        </div>
        </mat-tab>
    
        <mat-tab label="Candidatos">
          <!-- Aquí van los candidatos -->
          <div class="bodyResultado">
            <mat-grid-list *ngFor="let element of listaCandidatos" cols="3" rowHeight="20:20">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>{{element.usuario.nombre}}</mat-card-title>
                    <mat-card-title>{{element.usuario.programa}}</mat-card-title>
                    <img mat-card-xl-image src="../../../assets/img/usuario.jpg" >
                    <mat-card-subtitle># {{element.numeroTarjeton}}</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <mat-card-subtitle>
                    propuesta
                  </mat-card-subtitle>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit
                </mat-card-content>
              </mat-card>
              
            </mat-grid-list>
            
          </div>
            
        </mat-tab>

        <mat-tab label="Resultados">
          <!-- Aquí van los resultados -->
          <h1 style="text-align: center; margin-top: 100px;">Resultados Representación Estudiantil</h1>
          <div class="bodyResultado">
            <mat-grid-list *ngFor="let element of listaCandidatos" cols="3" rowHeight="20:20">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>{{element.usuario.nombre}}</mat-card-title>
                    <mat-card-title>{{element.usuario.programa}}</mat-card-title>
                    
                    <mat-card-subtitle># {{element.numeroTarjeton}}</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <mat-card-footer>VOTOS : {{element.votos}}</mat-card-footer>
                  
                </mat-card-content>
              </mat-card>
              
            </mat-grid-list>
            
            
          </div>
        </mat-tab>

    </mat-tab-group>
    
