<div class="body">
    <div class="login">
        <img src="../../../assets/img/logo.jpg" width="30%" >

        <div class="formulario">

            <mat-form-field class="ancho" style="margin-top: 20px;">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>
    
            <mat-form-field class="ancho">
                <mat-label >Contraseña</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>

            <button class="ancho" mat-raised-button color="primary">Ingresar</button>
        </div>

    </div>
</div>
